.header {
  display: flex;
  gap: var(--gap);
  padding-bottom: 1rem;

  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  justify-content: center;
  color: white;
  font-style: italic;
  font-weight: 20px;
}

.lgn {
  background: linear-gradient(
    to bottom,
    #e3f2ff 0%,
    #c7e4ff 40%,
    #a8d4ff 70%,
    #89c2ff 100%
  );

  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.signup-container {
  background: linear-gradient(
    to bottom,
    #ffe9f0 0%,
    #ffcbd8 40%,
    #ffabc1 70%,
    #ff8ba8 100%
  );

  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.login-page7 {
  background: rgba(255, 255, 255, 0.15);

  padding: 40px;
  border-radius: 15px;
  backdrop-filter: blur(8px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);

  width: 100%;
  max-width: 350px;
  text-align: center;
}
.username,
.password {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
}
.Submit {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: #53e3a6;
  font-weight: bold;
  cursor: pointer;
}

.Submit:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
}
.cls {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.cls {
  display: flex;
  padding-top: 40px;
  justify-content: space-around;
}

.username,
.password {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
}

.Submit {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: #53e3a6;
  font-weight: bold;
  cursor: pointer;
}

.Submit:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
}
