.sidebar {
  width: 230px;
  height: 100vh;
  background: #1f2533;
  padding: 25px;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin: 18px 0;
  font-size: 18px;
  cursor: pointer;
  color: #d9d9d9;
}

.sidebar-menu li:hover,
.sidebar-menu .active {
  color: #fff;
}
