.sidebar {
  width: 230px;
  height: 100vh;
  background: #1f2533;
  padding: 25px;
  color: white;
  position: relative; /* FIXED -> RELATIVE */
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
}
